<% include partials/header.ejs %>
<div style="margin-bottom:20px;" class="container ">
    <div class="row">
        <div class="col-md-3">
            <p  style="font-size:25px;" class="lead"><i class="ui icon angle double right"></i><%=campground.name%></p>
            <div class="list-group">
                <li class="list-group-item "><a class="moreInfo" href="/campgrounds/<%=campground.id%>">Campground</a> </li>
                
                <li  class="list-group-item active">More Info</li>
            </div>
        </div>
        <div class="col-md-9">
            <div style="width:100%;" class="ui card">
          <div class="content">
            
                            <h1>Checking In & Out</h1>
                <p>You may check in to your campsite any time after 2 p.m. on your reservation start date. </p>
                
                <p> When you arrive, present your reservation voucher or confirmation number and a form of photo identification.</p>
                
                <p> If you arranged for a discount when you made your reservation, proof of eligibility must be shown at this time.</p>
                
                <p> Campsite assignments are made upon your arrival unless your reservation is in a site specific park. If you reserve two sites in a non-site specific park, park staff will try to assign adjacent campsites, subject to availability.</p>
                
                <p> Dogs must be kept on leashes no longer than 6' and in a tent or enclosed vehicle at night. Except for service animals, pets are not allowed in park buildings, on trails, or on most beaches.</p>
                
                <p> Check out by noon on your departure date.</p>
                
                <p> Please leave the campsite in good condition. The camper who follows you will appreciate it.</p>
            
            
            
            
            
            <div class="container ui negative message">
                  <div class="header">
                    Attention
                  </div>
                  <p>If you cancel your reservation after 5 p.m. the day before your arrival date, the campsite fee for one night is forfeited.  Cancellation policies vary from park to park. </p>

                    <p>Special cancellation policies include:</p>
                    <ul style="margin-left:15px;" >
                        
                        <li>Big Basin Tent Cabins, Clear Lake Cabins, Columbia Hotels and Cottages, McArthur-Burney Cabins, and Samuel P. Taylor Cabin reservation holders will forfeit the first night fees when cancelling six (6) or fewer days prior to arrival.</li>
                        <li>San Clemente (The HOLIDAYS VINTAGE TRAILERS) and Bothe-Napa Valley reservation holders need to check the park website for cancellation rules; they are NOT the same as general camping cancellations.</li>
                        <li>For cabin and other alternative camping, please check the park specific cancellation policies on www.ReserveCalifornia.com under Alerts and Important Information, Site Alerts, and confirmation letter.</li>
                    </ul>
             </div>
            <p>The $7.99 reservation fee is non-refundable. </p>
            <strong>If you cancel a reservation, a cancellation fee of $7.99 will be assessed per reservation</strong>
            <p> Cancellations can be made online or by calling our Customer Call Center at (800) 444-PARK (7275).This service is available 7 days a week, from 8 a.m. to 5 p.m. PST (except New Year’s Day, Thanksgiving Day and Christmas Day).</p>
            <strong>If you need to change your arrival/departure date and/or site, you must call our Customer Call Center by 5 p.m. PST the day before your arrival date.</strong>
            <p>You will be refunded the amount paid for the campsite, less the non-refundable $7.99 reservation fee, the $7.99 cancellation fee, and one night use fee. If you miss your first day but plan to arrive later, you must call the park each day to hold the remainder of your reservation.</p>
            <strong>If you must leave the park one or more days early, a cancellation fee of $7.99 and reservation fee of $7.99 will be assessed per reservation; you must check out before 12 p.m.</strong>
            <p> Retain your camping confirmation letter until you have received your refund or your charge card has been credited. Allow at least 30 days to receive your refund.</p>

            <p>If California State Parks closes a campground due to an emergency or disaster, ReserveCalifornia™ will make every effort to notify you. In these cases, all fees will be refunded as soon as possible.</p>

            <p>In cases of inclement weather, when the campground remains open, but you choose to leave, refunds will be issued based on the </p>
            
            <h1>Family Camping</h1>
            <p>Family campsites accommodate up to eight (8) people. They are developed campsites with amenities that vary from park to park, and may include fire pits or fire rings, picnic tables, showers, a water supply, and a cleared area for your tent.</p>

            <p>Each campground has a limit on the consecutive number of nights a camper may stay. Once this consecutive night limit has been reached, the campground must be vacated, and no one in the party may return to camp in the same park for 48 hours.</p>
            
            <p>A parent or guardian must accompany youths under 18 years of age. The Supervising Ranger may approve the stay of a youth that presents written consent from the parent or guardian that states the dates of the authorized stay and the park name.</p>
            
            <p>Fees include entry for one (1) vehicle and one (1) legally towed vehicle or trailer.</p>
            
            <p>A maximum of two (2) licensed vehicles/autos, travel, boat, and utility trailers-may be parked at most campsites.</p>
            
            <p>Campers may stay in the same park up to 30 nights in a calendar year. </p>
            
            <h1>Horse/Equestrian Overnight Camping</h1>
            <p>California State Parks provides overnight horse sites or group horse sites.  Please check the following parks for more information.  Reservations can be made at <a href="www.ReserveCalifornia.com">www.ReserveCalifornia.com</a>.</p>
            <ul style="margin-left:15px;">
                <li><strong>Anza-Borrego Desert SP (10 horse sites)</strong></li>
                <li><strong>Cuyamaca Rancho SP (Group Horse and 14 Horse Sites)</strong></li>
                <li><strong>Humboldt Redwoods SP (2 Group Horse and 4 Horse Sites)</strong></li>
                <li><strong>Lake Oroville SRA (15 Horse Sites)</strong></li>
                <li><strong>Lake Perris SRA (7 Horses Sites)</strong></li>
                <li><strong>Montana de Oro SP (2 Group Horse and 3 Horse Sites)</strong></li>
            </ul>
            
          </div>
        </div>
        </div>
    </div>
</div>
<% include partials/footer.ejs %>