<% include partials/header.ejs %>


<div  class="container">
    
<h1 style="text-align:center;">Add a new Camp Ground:</h1>
    <div class="row">
        
        <!-- the form div-->
        <div style="width:30%;margin:20px auto;">
            <form method="POST" action="/campgrounds" enctype="multipart/form-data">
                
                <div class="form-group">
                    Campground Name:
                    <input class="form-control" type="text" placeholder="ex: Desert Maisa" name="campName">
                </div>
                
                
                <div class="form-group">
                    Campground Image:
                    <input class="form-control" accept="image/*" required type="file" name="image">
                </div>
                
                <div class="form-group">
                    Price per night:
                    <input class="form-control" type="number" placeholder="0.00" name="campPrice" min="0.00" step="0.01">
                </div>
                
                <div class="form-group">
                    <label for="location">Location:</label>
                    <input class="form-control" type="text" name="location" placeholder="Yosemite National Park, CA">
                </div>
                
                <div class="form-group">
                    Description:
                    <textarea id="autocomplete" onFocus="geolocate()" class="form-control" style="height:30%;" type="text" name="campDescription"></textarea>
                </div>
                
                <div class="form-group">
                    <button class="btn btn-lg btn-primary btn-block">Submit!</button>

                </div>
                
                
                
            </form>
            <a href="/campgrounds">Back</a>

        </div>
    </div>
</div>
<% include partials/footer.ejs %>